header{
	background: #FFF;
	height: 50px
}
header nav ul{
	position: absolute;
	right:0;
	top: 0
}
header nav ul li{
	display: inline;
	margin-right:25px
}
header nav ul li a{
	color: #6A6D7C
}
header nav ul li a:hover{
	color: #9C969B
}